.node-buttton {
  width: 100px;
  float: left;
}

.hidden {
  display: none;
  height: 300px;
  text-align: center;
}

.tree-graph {
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: -10px -10px 15px #e8e8e8;
  background-color: whitesmoke;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.tree-graph button {
  width: 150px;
  font-size: 3rem;
}

.zoom-slider {
  background-color: #bab9b9;
  border-radius: 5px;
  height: 10px;
  margin: auto;
  margin-top: 5px !important;
}

.rd3t-link {
  stroke-width: 5px;
}
