.node-buttton {
  width: 100px;
  float: left;
}

.node__root g > rect {
  fill: #c5c2c2;
}

.node__branch g > rect {
  fill: #ebeaea;
}

/* .node__leaf g > rect {
  fill: #b8f39a;
} */

.tree-graph {
  grid-column-start: 2;
  grid-column-end: 3;
}

.tree-graph button {
  width: 150px;
  font-size: 3rem;
}
