.sidebar {
  grid-row-start: 3;
  grid-row-end: 4;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5px;
  > :first-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
  }

  .tables-container {
    grid-column-start: 1;
    grid-column-end: 3;

    table {
      font-size: 0.8rem;
      table-layout: fixed;
      width: 540px;
    }
    table td,
    th {
      border: solid 1px black;
    }
    .tables-container {
      display: flex;
    }
    .results {
      .result-container {
      }
      position: relative;
      top: 205px;
      left: -2px;
      height: fit-content;
    }
  }
}
