.table-container {
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: auto;

  table {
    font-size: 0.8rem;
    table-layout: fixed;
    width: 100%;
  }
  table td,
  th {
    border: solid 1px black;
    padding: 0px;
    color: black;
  }
  .tables-container {
    display: flex;
  }
  .results {
    .result-container {
    }
    position: relative;
    top: 205px;
    left: -2px;
    height: fit-content;
  }
}
