.modal-header {
  display: grid;
}
.title {
  text-align: center;
}

.node-functions > li {
  color: green;
}
.node-effects > li {
  color: red;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.add-container {
  display: flex;
  flex-direction: row;
}
.add-container #new-function {
  color: green;
}

.add-container #new-failure {
  color: red;
}

.form-input {
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.MuiInputBase-input {
  height: 5px !important;
}
