.modal-header {
  display: grid;
}

.node-functions > li {
  color: green;
}
.node-effects > li {
  color: red;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.add-container {
  display: flex;
  flex-direction: row;
}
.add-container #new-function {
  color: green;
}

.add-container #new-failure {
  color: red;
}
