.logger-table {
  margin-bottom: 25px;
  width: 100%;
}
.logg-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.logg-container * {
  width: 100%;
}

.logg-container input,
textarea {
  border: 0.5px solid grey;
}
