.header {
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid 1px #8a8a8a;
  border-bottom: none;

  span {
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    display: block;

    margin-bottom: 5px;
  }
  .header-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    row-gap: 5px;
    column-gap: 5px;
    .crossFunctionalTeam {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    #filled-search {
      height: 12px !important;
    }
  }
}
